h1, h2{
    color: white;
  }
  body {
    background-color: pink;
    font-size: 110%;
    background-image: url("images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  p{
    font-size: 34;
    color:black;
  }

  * .menu{
    margin: 0;
    padding: 0;
  }

  .menu li {
   list-style: none;
   display: inline-block;
   float: left;
   line-height: 100px;
  }
